/* FONTS */
@font-face {
    font-family: 'pixeloid sans'; /* Font by GGBot, thanks ^^ */
    src: url('https://www.antikore.dev/fonts/PixeloidSans.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* STYLES */
body, html {
    background-color: black;
    height: 100%;
    margin: 0;
    display: contents;
    justify-content: center;
    align-items: start;
}

p {
    font-family: 'pixeloid sans', Tahoma;
    color: gray;
    margin: 4px;
}

img {
    image-rendering: pixelated;
}

.dev-info {
    margin-top: 16px;
    text-align: center;
}

.dev-info p {
    color: white;
}

.web-info {
    margin-top: 16px;
    text-align: center;
}

.user-link, .user-link:visited {
    color: aqua;
    transition-duration: 0.2s;
    text-decoration: underline;
}

.user-link:hover {
    color: yellow;
    transition-duration: 0.2s;
}
  
.header-title-img {
    text-align: center;
    margin-top: 4%;
    margin-left: 12%;
    margin-right: 12%;
}

.header-title-img img {
    max-width: 100%;
    max-height: 100%;
}

.social-links {
    width: 100%;
    justify-content: center;
    text-align: center;
    

    margin: 0 auto;
}

.social-links img {
    width: 48px;
    height: 48px;
    display: inline;
  
    margin-top: 24px;
}
